* {
  margin: 0px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar {
  position: relative;
  background-color: #000033;
  width: 100%;
}

.navbar p {
  position: absolute;
  text-align: right;
  right: 0px;
  margin-right: 20px;
  color: #ffd700;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 15px;
}
.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar ul li a:hover {
  background-color: #9b535483;
}

.navbar ul li ul.dropdown li {
  display: block;
  background-color: #000033;
}

.navbar ul li ul.dropdown {
  width: fit-content;
  position: absolute;
  display: none;
}

.navbar ul li:hover ul.dropdown {
  display: block;
  right: -10px;
  z-index: 1000;
}

#about {
  background-image: url("imgs/programming-wallpaper16.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #faf9f6;
  font-size: 24px;
  padding: 50px;
  border-bottom: 2px solid #000033;
  position: relative;
}

.my-img {
  position: absolute;
  left: 44%;
  top: 77%;
  border-radius: 50%;
  border: 2px solid #ffd700;
  z-index: 1000;
  margin-bottom: 50px;
  width: 150px;
}

#about h2 {
  margin-bottom: 30px;
  color: #ffb6c1;
  text-shadow: 2px 2px #faf9f6;
  text-align: left;
}

#skills {
  text-align: center;
  padding: 30px;
  background-color: #7988a385;
  margin-top: 120px;
}

#skills ul {
  list-style: none;
}

#skills ul li {
  display: inline-block;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

#skills ul li:hover {
  background-color: #ffd700;
  top: -10px;
}

#skills ul li:active {
  background-color: #c0a830;
  top: 10px;
}

#projects {
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

h2 {
  margin-bottom: 30px;
  color: #000033;
  font-size: 40px;
  text-shadow: 2px 2px #ffb6c1;
  text-align: center;
}

.project-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px #000033;
  width: 300px;
  padding: 20px;
  text-align: left;
  margin: 50px 20px;
}

#yelpCamp {
  position: absolute;
  top: -480px;
  left: 80px;
  z-index: 999;
}

.project-card:hover {
  box-shadow: 0 8px 16px #d4af37;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-card h3 {
  margin-bottom: 15px;
  color: #000033;
}

.project-card p {
  font-size: 16px;
  line-height: 1.5;
}

#contact-me {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

#contact-me form label {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

#contact-me form input[type="text"],
#contact-me form input[type="email"],
#contact-me form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px 0 20px;
}

#contact-me form input:focus,
#contact-me form textarea:focus {
  border-color: #000033;
  box-shadow: 0 0 5px #0000334d;
}

#contact-me form input[type="submit"],
#contact-me form input[type="reset"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

#contact-me form input[type="submit"] {
  background-color: #000033;
  color: #ffffff;
  margin-right: 30px;
}

#contact-me form input[type="submit"]:hover {
  background-color: #ffd700;
  color: #000000;
}

#contact-me form input[type="reset"] {
  background-color: #cccccc;
  color: #333333;
}

#contact-me form input[type="reset"]:hover {
  background-color: #999999;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000033;
  color: white;
}
footer .social-links a {
  color: #333;
  font-size: 30px;
  margin: 0 8px;
}

footer .social-links a:hover {
  color: #bb4b4dbd;
}

.go-top {
  background-color: #ffd700;
  color: #f0f0f0;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  border-radius: 40%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
